setuptools
build-essential
absl-py==1.2.0
aiohttp==3.8.4
aiosignal==1.3.1
ansi2html==1.9.0rc1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blis==0.7.9
boto3==1.26.123
botocore==1.29.123
bpemb==0.3.4
cachetools==5.2.0
catalogue==2.0.8
category-encoders==2.6.0
certifi==2022.6.15
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
colorlover==0.3.0
confection==0.0.4
conllu==4.5.2
cryptography==40.0.2
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0b2
dash==2.9.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==2.12.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
distlib==0.3.7
Django==4.2.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.9.1
fastjsonschema==2.16.1
filelock==3.12.4
flair==0.12.2
Flask==2.1.3
Flask-Cors==3.0.10
flatbuffers==23.5.9
fonttools==4.34.4
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.3
gast==0.4.0
gdown==4.4.0
gensim==4.3.1
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
gunicorn==21.2.0
h5py==3.7.0
huggingface-hub==0.16.4
hyperopt==0.2.7
idna==3.3
imbalanced-learn==0.10.1
importlib-metadata==6.1.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
Janome==0.4.2
jax==0.4.10
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-dash==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-visualpython==2.3.5
jupyterlab-widgets==1.1.1
kaggle==1.5.16
kaleido==0.2.1
keras==2.12.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
lazypredict==0.2.12
ldap3==2.9.1
libclang==14.0.1
lightgbm==3.3.4
llvmlite==0.39.1
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
ml-dtypes==0.1.0
more-itertools==9.1.0
mpld3==0.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.1
nltk==3.7
notebook==6.4.12
numba==0.56.4
numpy==1.23.1
oauthlib==3.2.0
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.8.8
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.1
patsy==0.5.3
PDF-Layout-Scanner==1.3.3
pdf2image==1.16.3
pdfminer==20191125
pdfminer.six==20221105
pdfquery==0.4.3
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.11.0
plotly==5.9.0
plotly-resampler==0.8.4rc1
pmdarima==2.0.3
pptree==3.1
preshed==3.0.8
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==4.23.1
psutil==5.9.1
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==3.0.0
pycparser==2.21
pycryptodome==3.18.0
pydantic==1.10.7
pydirectory==0.1.15
pygame==2.3.0
Pygments==2.12.0
PyMuPDF==1.22.3
pyod==1.0.9
pyparsing==3.0.9
PyPDF2==3.0.1
pyphen==0.14.0
pyquery==2.0.0
pyrsistent==0.18.1
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.21
python-slugify==8.0.1
pytorch_revgrad==0.2.0
pytz==2022.1
pywin32==304;platform_system == "Windows"
pywinpty==2.0.6
PyYAML==6.0
pyzmq==23.2.0
regex==2022.7.25
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.18.0
retrying==1.3.4
roman==4.0
rsa==4.9
s3transfer==0.6.0
safetensors==0.3.3
schemdraw==0.16
scikit-learn==1.1.1
scikit-plot==0.3.7
scipy==1.8.1
seaborn==0.11.2
segtok==1.5.11
Send2Trash==1.8.0
sentencepiece==0.1.98
six==1.16.0
sktime==0.16.1
smart-open==6.3.0
soupsieve==2.3.2.post1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlitedict==2.1.0
sqlparse==0.4.3
srsly==2.4.6
stack-data==0.3.0
statsmodels==0.13.5
sympy==1.11.1
tabulate==0.9.0
tbats==1.1.2
tenacity==8.0.1
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
text-unidecode==1.3
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.14.0
torch==2.0.0
tornado==6.2
tqdm==4.64.0
trace-updater==0.0.9
traitlets==5.3.0
transformer-smaller-training-vocab==0.2.3
transformers @ git+https://github.com/huggingface/transformers.git@75a33d60f25d99ff8cdd657d6ba685dc4336a0d1
typer==0.7.0
typing_extensions==4.3.0
tzdata==2023.3
urllib3==1.26.11
virtualenv==20.24.5
visualpython==2.3.5
wasabi==1.1.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.6.1
Wikipedia-API==0.5.8
wrapt==1.14.1
xgboost==1.7.3
XlsxWriter==3.1.0
xxhash==3.2.0
yarl==1.9.2
yellowbrick==1.5
zipp==3.15.0
