  {% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="temps/index.html" class="logo me-auto"><img src={% static 'assets/img/logo.png' %} alt=""></a>
      
    
    <h1>Hello This is the home page</h1>
    <br>
    <a href="{% url 'vparkinsons' %}">parkinsons</a>
    <br>
    <a href="{% url 'vbreastCancer' %}">breastCancer</a>
    <br>
    <a href="{% url 'vdiabetes' %}">diabetes</a>
</body>
</html>